/*
	Created by Alexander Nielsen. alex@hitecherik.tk
*/

.main{
	width: 75%;
	margin: auto;
}
.result h3{
	letter-spacing: 1px;
}
li iframe{
	margin-bottom: -5px;
}
li:not(:last-child){
	padding-bottom: 10px;
}
label.inline-label{
	display: inline;
}
textarea[name=tweet], textarea[name=message-to-friend]{
	width: 90%;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
h5.advanced{
	cursor: pointer;
}
section.advanced{
	padding-bottom: 10px;
	margin-bottom: 5px;
}
input[type=radio]{
	margin-bottom: 5px;
}
.ui-tooltip-content{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ui-tooltip-content:before{
	content: '';
	background: url(../img/info.png) no-repeat;
	float: right;
	height: 24px;
	width: 24px;
	margin-top: 7.5px;
}
.twitter-share-button{
	padding-left: 5px;
}
span.tick{
	font-size: 20px;
	margin-left: 10px;
}
.alert{
	width: 86.5%;
}