/*
	Created by Alexander Nielsen. alex@hitecherik.tk
 */

.main{
	width: 960px;
	margin: auto;
}

li iframe{
	margin-bottom: -5px;
}
li:not(:last-child){
	padding-bottom: 10px;
}
label.inline-label{
	display: inline;
}
textarea[name=tweet]{
	width: 90%;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
h5.advanced{
	cursor: pointer;
}
section.advanced{
	padding-bottom: 10px;
	margin-bottom: 5px;
}
input[type=radio]{
	margin-bottom: 5px;
}